
<html>
<div class="widget">
                    <div class="header"><span >Education Background</span> 
					<div align="right" class="edit_link"><%= link_to image_tag("/images/icon/tambah.png"), new_education_background_path %></div>
                            </div>
                            </div>
							

<div class="content" >
     <table>
	<thead>
		<tr>
			<th align="left">Bil</th><th align="left">Institute</th><th align="left">Education Level</th><th align="left">Year</th><th align="left"></th>
		</tr>
	</thead>
	
<tbody>

<%i=0%>
<%current_user.education_backgrounds.each do |u|%>
<%i+=1%>

<tr>
<td  align="left"><%=i%> ) </td>
<td  align="left"><%=u.institute%></td>
<td  align="left"><%=u.education_level%></td>
<td  align="left"><%=u.year%></td>
<td  align="left"><%= link_to image_tag("/images/icon/icon_edit.png"), edit_education_background_path(u) %>&nbsp&nbsp&nbsp&nbsp<%= link_to image_tag("/images/icon/icon_delete.png"), u, confirm: 'Are you sure?', method: :delete %></td>
</tr>

<%end%>

<br />
</tbody>
</table>
</div>
</html>

