<div class="widget">
                    <div class="header"><span > Address </span>
					<div align="right" class="edit_link"><%= link_to image_tag("/images/icon/edit.png"), edit_stud_add_path("#{@stud_add.id}") %></div>
					<br/>
                            </div>
                            </div>
				


<div class="content" >
     <table >
	<thead>
	</thead>
	
<tbody>

<tr>
<td  align="left">Address:</td>
<td  align="left">:</td>
<td  align="left"><%=@stud_add.place%>&nbsp<%=@stud_add.postcode%>&nbsp<%=@stud_add.city%>&nbsp<%=@stud_add.state.name%></td>
</tr>
<tr>

</tbody>
</table>
</div>

<style>
	td {padding:7px;}
	table {margin-top: 5px; margin-bottom: 5px}
</style>