<div class="widget">
                    <div class="header"><span > Education Detail </span>
					<div align="right" class="edit_link"><%= link_to image_tag("/images/icon/edit.png"), edit_stud_edu_path("#{@stud_edu.id}") %></div>
					<br/>
                            </div>
                            </div>



<div class="content" >


     <table>
			<thead>
			</thead>

		<tbody>

			<tr>
			<td  align="left">Current CGPA</td>
			<td  align="left">:</td>
			<td  align="left"><span><%=@stud_edu.cgpa%></span></td>
			</tr>

			<tr>
			<td  align="left">Current Semester</td>
			<td  align="left">:</td>
			<td  align="left"><span><%=@stud_edu.current_sem%></span></td>
			</tr>

			<tr>
			<td  align="left">Faculty</td>
			<td  align="left">:</td>
			<td  align="left"><span><%=@stud_edu.faculty.name%></span></td>
			</tr>

			<tr>
			<td  align="left">Campus</td>
			<td  align="left">:</td>
			<td  align="left"><span><%unless @stud_edu.kampu_id.nil?%><%=@stud_edu.kampu.name%><%end%></span></td>
			</tr>

			<tr>
			<td  align="left">Program Name</td>
			<td  align="left">:</td>
			<td  align="left"><span><%=@stud_edu.prog_name.name%></span></td>
			</tr>

		</tbody>
	 </table>
</div>

<script type="text/javascript">

$("#country").change(function () {
    $("#state, #city").find("option:gt(0)").remove();
    $("#state").find("option:first").text("Loading...");
    $.getJSON("/get/states", {
        country_id: $(this).val()
    }, function (json) {
        $("#state").find("option:first").text("");
        for (var i = 0; i < json.length; i++) {
            $("<option/>").attr("value", json[i].id).text(json[i].name).appendTo($("#state"));
        }
    });
});



</script>