<p id="notice"><%= notice %></p>

<p>
  <b>T skill:</b>
  <%= @section_c2.t_skill_id %>
</p>

<p>
  <b>Agree level:</b>
  <%= @section_c2.agree_level_id %>
</p>

<p>
  <b>User:</b>
  <%= @section_c2.user_id %>
</p>

<p>
  <b>Student:</b>
  <%= @section_c2.student_id %>
</p>


<%= link_to 'Edit', edit_section_c2_path(@section_c2) %> |
<%= link_to 'Back', section_c2s_path %>
