<p id="notice"><%= notice %></p>

<p>
  <b>Learning skill:</b>
  <%= @section_c7.learning_skill_id %>
</p>

<p>
  <b>Agree level:</b>
  <%= @section_c7.agree_level_id %>
</p>

<p>
  <b>User:</b>
  <%= @section_c7.user_id %>
</p>

<p>
  <b>Student:</b>
  <%= @section_c7.student_id %>
</p>


<%= link_to 'Edit', edit_section_c7_path(@section_c7) %> |
<%= link_to 'Back', section_c7s_path %>
