<p id="notice"><%= notice %></p>

<p>
  <b>Stud name:</b>
  <%= @eval_by_industry_sv.stud_name %>
</p>

<p>
  <b>Stud:</b>
  <%= @eval_by_industry_sv.stud_id %>
</p>

<p>
  <b>Sv name:</b>
  <%= @eval_by_industry_sv.sv_name %>
</p>

<p>
  <b>P1:</b>
  <%= @eval_by_industry_sv.p1 %>
</p>

<p>
  <b>P2:</b>
  <%= @eval_by_industry_sv.p2 %>
</p>

<p>
  <b>P3:</b>
  <%= @eval_by_industry_sv.p3 %>
</p>

<p>
  <b>P4:</b>
  <%= @eval_by_industry_sv.p4 %>
</p>

<p>
  <b>P5:</b>
  <%= @eval_by_industry_sv.p5 %>
</p>

<p>
  <b>A1:</b>
  <%= @eval_by_industry_sv.a1 %>
</p>

<p>
  <b>A2:</b>
  <%= @eval_by_industry_sv.a2 %>
</p>

<p>
  <b>A3:</b>
  <%= @eval_by_industry_sv.a3 %>
</p>

<p>
  <b>A4:</b>
  <%= @eval_by_industry_sv.a4 %>
</p>

<p>
  <b>A5:</b>
  <%= @eval_by_industry_sv.a5 %>
</p>

<p>
  <b>A6:</b>
  <%= @eval_by_industry_sv.a6 %>
</p>

<p>
  <b>A7:</b>
  <%= @eval_by_industry_sv.a7 %>
</p>

<p>
  <b>A8:</b>
  <%= @eval_by_industry_sv.a8 %>
</p>

<p>
  <b>A9:</b>
  <%= @eval_by_industry_sv.a9 %>
</p>

<p>
  <b>A10:</b>
  <%= @eval_by_industry_sv.a10 %>
</p>

<p>
  <b>A11:</b>
  <%= @eval_by_industry_sv.a11 %>
</p>

<p>
  <b>A12:</b>
  <%= @eval_by_industry_sv.a12 %>
</p>

<p>
  <b>A13:</b>
  <%= @eval_by_industry_sv.a13 %>
</p>

<p>
  <b>A14:</b>
  <%= @eval_by_industry_sv.a14 %>
</p>

<p>
  <b>A15:</b>
  <%= @eval_by_industry_sv.a15 %>
</p>

<p>
  <b>A16:</b>
  <%= @eval_by_industry_sv.a16 %>
</p>

<p>
  <b>A17:</b>
  <%= @eval_by_industry_sv.a17 %>
</p>

<p>
  <b>A18:</b>
  <%= @eval_by_industry_sv.a18 %>
</p>


<%= link_to 'Edit', edit_eval_by_industry_sv_path(@eval_by_industry_sv) %> |
<%= link_to 'Back', eval_by_industry_svs_path %>
