
<div class="widget">
                    <div class="header"><span > Custodian details</span>
                            </div>
                            </div>
						</div>


<div class="content" >
     <table >
	<thead>
	</thead>
	
<tbody>

<tr>
<td  align="left"><b>Name:&nbsp;&nbsp;</b><%=@stud_custodian.name%></td>
</tr>
<tr>
<td  align="left"><b>Address:&nbsp;&nbsp;</b><%=@stud_custodian.place%><br/>
	<%=@stud_custodian.postcode%><br/>
	<%=@stud_custodian.city%><br/>
	<%=@stud_custodian.state.name%>
</td>
</tr>
<tr>
<td  align="left"><b>Email:&nbsp;&nbsp;</b><%=@stud_custodian.email%></td>
</tr>
<tr>
<td  align="left"><b>Contact No:&nbsp;&nbsp;</b><%=@stud_custodian.hp_no%></td>
</tr>
<tr>
<td  align="left"><b>Relationships:&nbsp;&nbsp;</b><%=@stud_custodian.relationship%></td>
</tr>

</tbody>
</table>
</div>