
								<div class="widget">
								 <div class="header"><span><span class="ico gray window"></span>  References   </span></div>
									<div class="content">
      <table >
	<thead>
	<tr>
		<th align="left" style="width:10%;">Bil</th>
		<th align="left" style="width:35%;">Name</th>
		<th align="left" style="width:15%;">Position</th>
		<th align="left" style="width:35%;">Company</th>
		<th align="left" style="width:35%;">Contact No</th>
		<th align="left" style="width:35%;">Email</th>
		<th align="left" style="width:35%;">Relationship</th>
	</tr>
	</thead>
	
<tbody>


<%i=0%>
<%current_user.stud_references.each do |u|%>
<%i+=1%>
<tr>
		<td  align="left"><%=i%> )</td>
		<td  align="left"><%=u.name%></td>
		<td  align="left"><%=u.occupation%></td>
		<td  align="left"><%=u.company%></td>
		<td  align="left"><%=u.contact_no%></td>
		<td  align="left"><%=u.email%></td>
		<td  align="left"><%=u.relationship%></td>
</tr>
<%end%>

</tbody>
</table>                         

									</div>
								 </div>