
	<% @stud_profile = StudProfile.find_by_user_id(current_user.id) %>
	<% @stud_edu = StudEdu.find_by_user_id(current_user.id) %>
	<% @stud_add = StudAdd.find_by_user_id(current_user.id) %>
	<% @stud_custodian = StudCustodian.find_by_user_id(current_user.id) %>
	<% if @stud_profile.matric_no.blank? || @stud_profile.nric.blank? || @stud_profile.gender_id.blank? || @stud_edu.cgpa.blank? || @stud_edu.current_sem.blank? || @stud_edu.prog_name_id.blank? || @stud_edu.prog_code_id.blank? || @stud_edu.faculty_id.blank? || @stud_edu.kampu_id.blank? || @stud_add.place.blank? || @stud_add.postcode.blank? || @stud_add.city.blank? || @stud_add.state_id.blank? || @stud_custodian.name.blank? || @stud_custodian.place.blank? || @stud_custodian.city.blank? || @stud_custodian.relationship.blank? || @stud_custodian.state_id.blank? then%>
	<%end%>
			
<div class="widgets">
<div class="oneThree">										  
<%=render 'users/resume/picture'%>
<%=render 'users/resume/profile'%>
<%=render 'users/resume/aboutme'%>
<%=render 'users/resume/education'%>
<%=render 'users/resume/internship'%>
<%=render 'users/resume/custodian'%>

</div></div>
<div class="widgets">
<div class="twoOne">
<%=render 'users/resume/language'%>
<%=render 'users/resume/skill'%>		
<%=render 'users/resume/workingexperience'%>
<%=render 'users/resume/location'%>
<%=render 'users/resume/reference'%>
</div></div>

<script>
	$(document).ready(function() {
		/*
		var gap     = 20;
		var boxH    = $(window).height() - gap;     // bottom gap
		var boxW    = $(window).width() - gap * 2 - 210;  // left + right gap
		var iboxH    = $(window).height() - gap - 120;     // bottom gap
		var iboxW    = $(window).width() - gap * 2 - 250;  // left + right gap
			$.fallr('show', {
			    content     : '<p>Curriculum vitae (CV)</p>'
			                  + '<iframe width="'+iboxW+'" height="'+iboxH+'" src="/users/edit/'+<%= current_user.id %> +'" frameborder="0" allowfullscreen></iframe>',
			    width       : 0, // 100 = padding width
			    icon        : 'chat',
			    width   : boxW,
		    	height  : boxH,
			    closeOverlay: true,
			    buttons     : {
			        button1 : {text: 'Close'}    
			    }
			});
			*/
	});	
</script>