<div class="oneTwo" >
<div class="widget ">
        <div class="header"><span >Requirements</span>
			<div align="right" class="edit_link">
				<%= link_to image_tag("/images/icon/tambah.png"), new_requirement_path %>
			</div>
        </div>                            
	<div class="content" style="padding: 0px 0px;">
	     <table class="display ">
			<thead>
				<tr>
					<th align="left" style="width: 10px;">Bil</th>
					<th align="left" style="width: 70%;">Requirement</th>
					<th align="left"></th>
				</tr>
			</thead>	
			<tbody>
				<%i=0%>
				<%current_user.requirements.each do |u|%>
				<%i+=1%>
				
				<tr>
					<td  align="left"><%=i%> ) </td>
					<td  align="left"><%=u.name%></td>
				    <td  align="left"><span class="tip" ><%= link_to image_tag("/images/icon/icon_edit.png"), edit_requirement_path(u) %>&nbsp&nbsp&nbsp&nbsp<%= link_to image_tag("/images/icon/icon_delete.png"), u, confirm: 'Are you sure?', method: :delete %></td>
				</tr>
				<%end%>
				
				<br />
			</tbody>
		</table>
	</div>
</div>
</div>