<%= form_for(@intership_period) do |f| %>
  <% if @intership_period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@intership_period.errors.count, "error") %> prohibited this intership_period from being saved:</h2>

      <ul>
      <% @intership_period.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
