

  <div class="oneThree">
	<h2><a class="uibutton" id="yeah">YES</a><a href="/stud_checkin"class="uibutton">NO</a></h2>
  </div>
  <div class="twoOne">
		<p>
		<% @user_company = UserCompany.find(params[:id])%>
			<span ><%= @user_company.company.name %></span><b> Company</b>
		</p>
  </div>
<div hidden=true>
<%= form_for(@user_company) do |f| %>
  <% if @user_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_company.errors.count, "error") %> prohibited this user_company from being saved:</h2>

      <ul>
      <% @user_company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="clear"></div>
  <div class="section">
    <%= f.label :student_id %><br />
    <%= f.text_field :student_id %>
  </div>
  <div class="section">
    <%= f.label :company_id %><br />
    <%= f.text_field :company_id %>
  </div>
  <div class="section">
    <%= f.label :action_status_id %><br />
    <%= f.text_field :action_status_id, :value=>6%>
  </div>
  <div class="section">
    <%= f.label :total %><br />
    <%= f.text_field :total %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => 'uibutton loading sub', :title => 'Loading' %>
  </div>
<% end %>
</div>
<script>
	$(document).ready(function(){
			$("#yeah").click(function(){
					$(".sub").click();
				});  
			});
</script>
