<h1>Listing innovative_outcomes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @innovative_outcomes.each do |innovative_outcome| %>
  <tr>
    <td><%= innovative_outcome.name %></td>
    <td><%= link_to 'Show', innovative_outcome %></td>
    <td><%= link_to 'Edit', edit_innovative_outcome_path(innovative_outcome) %></td>
    <td><%= link_to 'Destroy', innovative_outcome, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Innovative outcome', new_innovative_outcome_path %>
