<p id="notice"><%= notice %></p>

<p>
  <b>Bis type:</b>
  <%= @comp_profile.bis_type %>
</p>

<p>
  <b>Official no:</b>
  <%= @comp_profile.official_no %>
</p>

<p>
  <b>Email:</b>
  <%= @comp_profile.email %>
</p>

<p>
  <b>Url:</b>
  <%= @comp_profile.url %>
</p>

<p>
  <b>Contact person:</b>
  <%= @comp_profile.contact_person %>
</p>

<p>
  <b>Register no:</b>
  <%= @comp_profile.register_no %>
</p>

<p>
  <b>Sector:</b>
  <%= @comp_profile.sector %>
</p>

<p>
  <b>Industry:</b>
  <%= @comp_profile.industry %>
</p>

<p>
  <b>Cluster:</b>
  <%= @comp_profile.cluster %>
</p>

<p>
  <b>Place:</b>
  <%= @comp_profile.place %>
</p>

<p>
  <b>Postcode:</b>
  <%= @comp_profile.postcode %>
</p>

<p>
  <b>City:</b>
  <%= @comp_profile.city %>
</p>

<p>
  <b>State:</b>
  <%= @comp_profile.state %>
</p>

<p>
  <b>User:</b>
  <%= @comp_profile.user_id %>
</p>


<%= link_to 'Edit', edit_comp_profile_path(@comp_profile) %> |
<%= link_to 'Back', comp_profiles_path %>
