<h1>Listing gelarans</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gelarans.each do |gelaran| %>
  <tr>
    <td><%= gelaran.name %></td>
    <td><%= link_to 'Show', gelaran %></td>
    <td><%= link_to 'Edit', edit_gelaran_path(gelaran) %></td>
    <td><%= link_to 'Destroy', gelaran, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gelaran', new_gelaran_path %>
