<p id="notice"><%= notice %></p>

<p>
  <b>P solving:</b>
  <%= @section_c3.p_solving_id %>
</p>

<p>
  <b>Agree level:</b>
  <%= @section_c3.agree_level_id %>
</p>

<p>
  <b>User:</b>
  <%= @section_c3.user_id %>
</p>

<p>
  <b>Student:</b>
  <%= @section_c3.student_id %>
</p>


<%= link_to 'Edit', edit_section_c3_path(@section_c3) %> |
<%= link_to 'Back', section_c3s_path %>
