<div class="widget">
	
	<div class="header"><span><span class="ico gray window"></span> Industry Sector</span></div>
						 <div class="content">
		<%= form_for(@sector) do |f| %>
		  <% if @sector.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@sector.errors.count, "error") %> prohibited this sector from being saved:</h2>
		
		      <ul>
		      <% @sector.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		
		  <div class="section">
		    <%= f.label :name %><br />
		    <%= f.text_area :name, :cols=>'50px',:rows=>'5px' %>
		  </div>
		  <div class="actions">
		    <%= f.submit "Submit", :class => 'uibutton loading', :title => 'Submit' %><%= link_to 'Back', sectors_path , :class => 'uibutton'%>
		  </div>
		<% end %>
	</div>
</div>
