<!-- <div id="content">
                <div class="inner"> -->

                    <div class="clear"></div>

					<div class="widget">
	
	<div class="header"><span><span class="ico gray window"></span>  Sign Up  </span>
                            
						</div>
						 <div class="content">
						 
	<div class="boxtitle"><span class="ico gray audio_knob"></span>
                        
	<%if @admin==true then%>
	Enter Staff Details
	<%else%>
	Enter Your Details
	<%end%>
  </div>
  
<%= form_for(@user) do |f| %>

<%= render 'shared/error_messages', :object => f.object %>
<div class="section" >
<%= f.label :name, "Name:" %><br />
<%= f.text_field :name %>
</div>
<div class="section" >
<%= f.label :email ,"Email:"%><br />
<%= f.text_field :email %>
<span class="f_help">
</span>
</div>
<div class="section" >
<%= f.label :password ,"Password:"%><br />
<%= f.password_field :password %>
</div>
<div class="section" >
<%= f.label :password_confirmation, "Confirmation:" %><br />
<%= f.password_field :password_confirmation %>
</div>
<div class="section" >
<%= f.label :role_id ,"Type:"%><br />
<%=collection_select(:user,:role_id,Role.all,:id,:name,:prompt=>"Please Select")%>
</div>

<div class="section last">

                                  <div>
								  
	<%if @admin==true then%>
		<%= f.submit "Save"%>
	<%else%>
		<%= f.submit "Sign up", :class => 'uibutton loading', :title => 'Saving' %>
	<%end%>

</div>
</div>
							 
</div>
<% end %>
<%if @admin==true%>
<%=link_to pensyarah_path%>
<%end%>


		</div>
	</div>
	<div class="clear"></div>

<!-- </div> <!-- inner -->
</div> <!--content--> -->
