<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @student_list.studentid %>
</p>

<p>
  <b>Mykadno:</b>
  <%= @student_list.mykadno %>
</p>

<p>
  <b>Fullname:</b>
  <%= @student_list.fullname %>
</p>

<p>
  <b>Gender:</b>
  <%= @student_list.gender_id %>
</p>

<p>
  <b>Groupcode:</b>
  <%= @student_list.groupcode %>
</p>

<p>
  <b>Programcode:</b>
  <%= @student_list.programcode %>
</p>

<p>
  <b>Facultycode:</b>
  <%= @student_list.facultycode %>
</p>

<p>
  <b>Campuscode:</b>
  <%= @student_list.campuscode %>
</p>

<p>
  <b>Contactno:</b>
  <%= @student_list.contactno %>
</p>

<p>
  <b>Handphoneno:</b>
  <%= @student_list.handphoneno %>
</p>

<p>
  <b>Religion:</b>
  <%= @student_list.religion_id %>
</p>

<p>
  <b>Add1:</b>
  <%= @student_list.add1 %>
</p>

<p>
  <b>Add2:</b>
  <%= @student_list.add2 %>
</p>

<p>
  <b>Postcode:</b>
  <%= @student_list.postcode %>
</p>

<p>
  <b>City:</b>
  <%= @student_list.city %>
</p>

<p>
  <b>State:</b>
  <%= @student_list.state_id %>
</p>

<p>
  <b>Email:</b>
  <%= @student_list.email %>
</p>

<p>
  <b>Cgpa:</b>
  <%= @student_list.cgpa %>
</p>


<%= link_to 'Edit', edit_student_list_path(@student_list) %> |
<%= link_to 'Back', student_lists_path %>
