<h1>Listing stud_descriptions</h1>

<table>
  <tr>
    <th>About me</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stud_descriptions.each do |stud_description| %>
  <tr>
    <td><%= stud_description.about_me %></td>
    <td><%= stud_description.user_id %></td>
    <td><%= link_to 'Show', stud_description %></td>
    <td><%= link_to 'Edit', edit_stud_description_path(stud_description) %></td>
    <td><%= link_to 'Destroy', stud_description, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stud description', new_stud_description_path %>
