<div class="oneTwo">
	<div class="widget">
	    <div class="header"><span ><span class="ico  color administrator"></span>Your Profile</span>
			<div align="right" class="edit_link"><%= link_to " Edit ", edit_staff_path("#{@staff_profile.id}") ,:class=>"uibutton"%></div>
		<br/>
		</div>
		<div class="content" >
			<table>
			<tr>
				<td class="label">Name</td>
				<td>:</td>
				<td><span><%=@staff_profile.gelaran.name%>&nbsp<%=@staff_profile.name%></span></td>
			</tr>
			<tr>
				<td class="label">Staff No</td>
				<td>:</td>
				<td><span><%=@staff_profile.staff_no%></span></td>
			</tr>
			<tr>
			<%if @staff_profile.staff_type.name != ""%>
				<td class="label">Type</td>
				<td>:</td>
				<td><span><%=@staff_profile.staff_type.name%></span></td>
				</tr>
			<%end%>	
			<tr>
			<td class="label">Faculty</td>
			<td>:</td>
			<td><span><%=@staff_profile.faculty.name%></span></td>
			</tr>
			<tr>
			<%if @staff_profile.staff_type.name != ""%>
				<td class="label">Program</td>
				<td>:</td>
				<td><span><%=@staff_profile.prog_name.name%></span></td>
				</tr>
			<%end%>	
			<tr>
			<td class="label">Kampus</td>
			<td>:</td>
			<td><span><%unless @staff_profile.kampu_id.nil?%><%=@staff_profile.kampu.name%><%end%></span></td>
			</tr>
			<tr>
			<td class="label">Room No:</td>
			<td>:</td>
			<td><span><%=@staff_profile.room_no%></span></td>
			</tr>
			<%if @staff_profile.place != "" %>
				<tr>
				<td class="label">Location:</td>
				<td>:</td>
				<td><span><%=@staff_profile.place%></span></td>
				</tr>
			<%end%>	
			<tr>
			<td class="label">Office No</td>
			<td>:</td>
			<td><span><%=@staff_profile.office_no%></span></td>
			</tr>
			<tr>
			<td class="label">Mobile No</td>
			<td>:</td>
			<td><span><%=@staff_profile.hp_no%></span></td>
			</tr>
			<tr>
			<td class="label">Email</td>
			<td>:</td>
			<td><span><%=@staff_profile.email%></span></td>
			</tr>
			</table>
		</div>
	</div>
</div>