<p id="notice"><%= notice %></p>
<%= image_tag @attachment.attach.url(:small) %>
<p>
  <%= @attachment.attach %>
</p>
<p>
  <%= @attachment.remark %>
</p>
<p>
  <%= @attachment.attach_file_name %>
</p>
<p>
  <%= @attachment.attach_content_type %>
</p>
<p>
  <%= @attachment.attach_file_size %>
</p>
<p>
  <%= @attachment.user_id %>
</p>
<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
