
<div class="oneTwo what">
	<table border="0" >
		<tr>
			<td>
				<img class="profile" src="<%= Photo.find_by_user_id(current_user.id).image%>" width="100px"/>
			</td>
			<td style="padding-left:5px;">
			<h5 style="line-height: 17px;"><%=current_user.name%></h5>
	<%=@comp_profile.place%>,	
				<%=@comp_profile.postcode%>,
				<%=@comp_profile.city%>
				<%#@comp_profile.state.name%><br/>
				<br/>
				Our Company overall <b><%=@comp_adv.about_company%></b>
				</td>
		</tr>	
	</table>	
</div>
<br/>
<div class="clear"></div>
	<div>
		</br>
		<table border="0">
			<tr>
				<td width="25px"><img src="/assets/zice/images/icon/color_18/clock.png" height="15px"/></td>
				<td>Close Date</td> 
				<td style="color:red;"><b><%=@comp_adv.exp_date.strftime("%d %b %Y")%></b></td>
			</tr>
			<tr>
				<td><img src="/assets/zice/images/icon/color_18/messenger.png" height="15px"/></td>
				<td>Available For </td><td><b><%=@comp_adv.level%> people</b></td>
			</tr>
			<tr>	
				<td><img src="/assets/zice/images/icon/color_18/money_bag.png" height="15px"/></td>
				<td>Allowance </td>
				<td>RM<b><%#@comp_adv.status.name%> <%=@comp_adv.value_allowance%></b></td>
			</tr>
		</table>
		</br>
		<div>
			<b>Requirement</b>
			<table border="0">
			<%current_user.requirements.each do |u|%>
				<tr>
					<td width="25px"><img src="/assets/zice/images/icon/color_18/directional_right.png" height="10px"/></td><td><%=u.name%></td>
				</tr>
			<%end%>
			</table>
		</div>
			</br>
		<div >
		<b>Available Courses For Internships</b>
			<table border="0">
			<% current_user.available_internships.each do |u|%>
				<tr>
					<td width="25px"><img src="/assets/zice/images/icon/color_18/directional_right.png" height="10px"/></td><td><%=u.prog_name.name%></td>
				</tr>
			<%end%>
			</table>
		</div>	
			</br>
		<div >		
			<b>Benefit</b>
			<table border="0">
				<% current_user.benefits.each do |u|%>
					<tr>
					<td width="25px"><img src="/assets/zice/images/icon/color_18/directional_right.png" height="10px"/></td><td><%=u.name%></td>
					</tr>
				<%end%>
			</table>
		</div>	
	</div> <!-- end div -->

	<div class="clear"></div>
	</br>
	<div>
			<table border="0">
			<tr>
				<td><%=@comp_profile.url%></td>
			</tr><tr>
				<td><b>Email</b></td><td>:</td><td><%=@comp_profile.email%></td>
			</tr><tr>	
				<td><b>Contact No</b></td><td>:</td><td><%=@comp_profile.official_no%></td>
			</tr><tr>
				<td><b>Contact Person</b></td><td>:</td><td><%=@comp_profile.contact_person%></td>
			</tr>	
			</table>
	</div> 
</div>
<style>
td {padding:1px;
	font-size: 85%;
}

.what{
	background-color: #fff;
	padding: 5px;
}
</style>