
																		<h3>
																		<span class="header">Custodian Profile</span>
																		<br/>
																		</h3>
																			<table border=1>
																			<tr>
																			<td><%=@stud_custodian.name%></td>
																			</tr>
																			<tr>
																			<td><%=@stud_custodian.place%><br/>
																				<%=@stud_custodian.postcode%><br/>
																				<%=@stud_custodian.city%><br/>
																				<%=@stud_custodian.state_id%>
																			</td>
																			</tr>
																			<tr>
																			<td><%=@stud_custodian.email%></td>
																			</tr>
																			<tr>
																			<td><%=@stud_custodian.hp_no%></td>
																			</tr>
																			<tr>
																			<td><%=@stud_custodian.relationship%></td>
																			</tr>
																			</table>
																			