
<h4><b><u>
Education Profile </u> </b>															
</h4>																
<table border=1>						
<td><b>Current Semester:</b>&nbsp;&nbsp;<%=@stud_edu.current_sem%></td>																		
</tr>
<tr>																		
<td><b>Program:</b>&nbsp;&nbsp;<%=@stud_edu.prog_name_id%></td>																		
</tr>
<tr>																		
<td><b>Program Code:&nbsp;&nbsp;</b><%=@stud_edu.prog_code_id%></td>																		
</tr>
<tr>																		
<td><b>Faculty:</b>&nbsp;&nbsp;<%=@stud_edu.faculty_id%></td>																		
</tr>
<tr>																		
<td><b>Cgpa:</b>&nbsp;&nbsp;<%=@stud_edu.cgpa%></td>																		
</tr>
</table
