<p id="notice"><%= notice %></p>

<p>
  <b>Staffno:</b>
  <%= @lecturer_list.staffno %>
</p>

<p>
  <b>Fullname:</b>
  <%= @lecturer_list.fullname %>
</p>

<p>
  <b>Faculty:</b>
  <%= @lecturer_list.faculty %>
</p>

<p>
  <b>Subjectcode:</b>
  <%= @lecturer_list.subjectcode %>
</p>

<p>
  <b>Subjectname:</b>
  <%= @lecturer_list.subjectname %>
</p>

<p>
  <b>Groupname:</b>
  <%= @lecturer_list.groupname %>
</p>

<p>
  <b>Campuscode:</b>
  <%= @lecturer_list.campuscode %>
</p>

<p>
  <b>Contactno:</b>
  <%= @lecturer_list.contactno %>
</p>

<p>
  <b>Handphoneno:</b>
  <%= @lecturer_list.handphoneno %>
</p>

<p>
  <b>Email:</b>
  <%= @lecturer_list.email %>
</p>

<p>
  <b>Mykadno:</b>
  <%= @lecturer_list.mykadno %>
</p>


<%= link_to 'Edit', edit_lecturer_list_path(@lecturer_list) %> |
<%= link_to 'Back', lecturer_lists_path %>
