<style>
    table{
        margin: 10px;padding: 10px
        border-collapse: collapse;
        border-spacing: 0;
        
    }
    table td{
        padding: 5px;
        font-size: 90%;
        border-bottom-style:solid;
        border-bottom-width: 1px;
    }

    table th{
      font-weight:bold; 
      border-bottom-style:solid;
      border-bottom-width: 3px;
      padding-bottom: 10px;
      border-bottom-color: #7F6DDD;
      color: #7F6DDD;
    }
</style>
 
<div class="widget">
                    <div class="header"><span ><span class="ico  gray random"></span> Report : Evaluation by Academic Supervisor ( Total Evaluation = <%= @total%> )</span></div>
                   <div class="content" >   
<div ><br />
    <table width="900">
 <tr><th width="3%">No</th><th width="69%">Presentation</th><th>Rating %</th>
 <tr>
    <td>1</td>
    <td>The student is well prepared for the  presentation</td>
    <td><div align="center"><%= @pp1%></div></td>
 </tr>
 <tr>
 <td>2</td>
    <td>The visual aid is used effectively</td>
    <td><div align="center"><%= @pp2%></div></td>
  </tr>
  <tr>
  <td>3</td>
   <td>The clarity of voice and pronunciation is good and clear</td>
   <td><div align="center"><%= @pp3%></div></td>
  </tr>
  <tr>
  <td>4</td>
    <td>The student makes eye contact and interact with audience</td>
    <td><div align="center"><%= @pp4%></div></td>
  </tr><tr>
  <td>5</td>
   <td>The structure of presentation is well organized and interesting</td>
   <td><div align="center"><%= @pp5%></div></td>
  </tr>
  <table/>
  <br/>
  <table  width="900">
 <tr><th width="3%">No</th><th width="69%">Presentation</th><th>Rating %</th>
  <tr>
  <td>1</td>
   <td>The type of operation, equipment or process is suitable for the application of student's knowledge</td>
   <td> <div align="center"><%= @aa1%></div></td>
 </tr><tr>
 <td>2</td>
   <td>Safety is a prior practice in the workplace</td>
    <td> <div align="center"><%= @aa2%></div></td>
  </tr><tr>
  <td>3</td>
   <td>The student shows good grasp of knowledge on the unit operation and process flow of this industrial company</td>
   <td> <div align="center"><%= @aa3%></div></td>
  </tr><tr>
  <td>4</td>
   <td>The student shows good relationship with supervisor and management</td>
   <td> <div align="center"><%= @aa4%></div></td>
  </tr><tr>
  <td>5</td>
   <td>This student create harmonious work environment in the company</td>
   <td> <div align="center"><%= @aa5%></div></td>
  </tr><tr>
  <td>6</td>
   <td>The student gives full cooperation in project or tasks given</td>
   <td> <div align="center"><%= @aa6%></div></td>
  </tr><tr>
  <td>7</td>
    <td>The student shows great initiative and creativity on project given</td>
   <td> <div align="center"><%= @aa7%></div></td>
  </tr><tr>
  <td>8</td>
    <td>The student demonstrates good attitude and discipline</td>
   <td> <div align="center"><%= @aa8%></div></td>
  </tr><tr>
  <td>9</td>
    <td>The student does not play truant and has good attendance</td>
    <td> <div align="center"><%= @aa9%></div></td>
  </tr>
  </table>
  <br/>
  <table  width="900">
  <tr><th width="3%">No</th><th width="69%">Log Book </th><th>Rating %</th>
  <tr>
  <td>1</td>
    <td>Weekly activities and verification by industry supervisor is illustrated in the log book</td>
    <td><div align="center"><%= @l1 %></div></td>
  </tr><tr>
  <td>2</td>
    <td>Relevant sketches, diagrams or figures are attached to support the description of activities</td>
    <td><div align="center"><%= @aa11 %></div></td>
  </tr><tr>
  <td>3</td>
    <td>Introduction with company background, operation, process flow and organizational chart are clearly outlined</td>
    <td><div align="center"><%= @l2 %></div></td>
  </tr>
  </table>
  <br/>
  <table  width="900">
  <tr><th width="3%">No</th><th width="69%">Field Report</th><th>Rating %</th></tr>
  <tr>
  <td>1</td>
   <td>Summary of daily activity and job roles is clearly described</td>
    <td><div align="center"><%= @r1%></div></td>
  </tr><tr>
  <td>2</td>
   <td>Summary of daily activity and job roles is clearly described</td>
    <td><div align="center"><%= @r2%></div></td>
 </tr>
 </tr><tr>
  <td>3</td>
   <td>Tasks, assignment or project given is particularly reported</td>
    <td><div align="center"><%= @r3%></div></td>
 </tr><tr>
  <td>4</td>
   <td>The report ends with conclusion or summary</td>
    <td><div align="center"><%= @r4%></div></td>
 </tr>
 </table>
 
 	<div >
                                                      <table class="chart-bar" > 
                                                      <thead height="100px">
                                                        <tr>
                                                            <th width="10%" ></th>
                                                            <th width="25%" style="color : #bedd17;">Percentage %</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th>1</th>
                                                            <td><%= @pp1 %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>2</th>
                                                            <td><%= @pp2 %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>3</th>
                                                            <td><%= @pp3 %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>4</th>
                                                            <td><%= @pp4 %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>5</th>
                                                            <td><%= @pp5 %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>6</th>

                                                            <td><%= @aa1 %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>7</th>
                                                            <td><%= @aa2 %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>8</th>
                                                            <td><%= @aa3 %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>9</th>
                                                            <td><%= @aa4 %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>10</th>
                                                            <td><%= @aa5 %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>11</th>
                                                            <td><%= @aa6 %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>12</th>
                                                            <td><%= @aa7 %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>13</th>
                                                            <td><%= @aa8 %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>14</th>
                                                            <td><%= @aa9 %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>15</th>
                                                            <td><%= @aa11 %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>16</th>
                                                            <td><%= @l1 %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>17</th>
                                                            <td><%= @l2 %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>18</th>
                                                            <td><%= @r1 %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>19</th>
                                                            <td><%= @r2 %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>20</th>
                                                            <td><%= @r3 %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>21</th>
                                                            <td><%= @r4 %></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
    </div>                                            

                                      </div>
                   </div>
</div>                




<script>
$("table.chart-bar").each(function() {
    var colors = [];
    $("table.chart-bar thead th:not(:first)").each(function() {
        colors.push($(this).css("color"));
    });
    
    var flotOptions = {
		bars: {
	        align:  "center",
	        horizontal: false
	    },
	    yaxis: {
	    	min:0,
	    	max:100,
	    }
    };
    $(this).graphTable({
        series: 'columns',
        position: 'replace',
        width: 977,
        height: 500,
        colors: colors,
    }, flotOptions);
});



</script>