
<script type="text/javascript">
<!--
function popup(url) 
{
 var width  = 600;
 var height = 400;
 var left   = (screen.width  - width)/2;
 var top    = (screen.height - height)/2;
 var params = 'width='+width+', height='+height;
 params += ', top='+top+', left='+left;
 params += ', directories=no';
 params += ', location=no';
 params += ', menubar=no';
 params += ', resizable=no';
 params += ', scrollbars=1';
 params += ', status=no';
 params += ', toolbar=no';
 newwin=window.open(url,'windowname5', params);
 if (window.focus) {newwin.focus()}
 return false;
}
function openWin()
{
myWindow=window.open('','','width=200,height=100');
myWindow.document.write("<p>This is 'myWindow'</p>");
myWindow.focus();
}

</script>

<div class="widget">
						<div class="header"><span ><span class="ico  gray random"></span> INTERESTED STUDENT FOR INTERNSHIP (ACCEPT OFFER) </span></div>
						<div class="content"  >

				 <form> 
						<div class="tableName">
							
							
<table class="display data_table2" >
	<thead>
		<tr>
			<th align="left">Bil</th><th align="left"><div class="th_wrapp"> Student Name </div></th><th  align="left">id</th><th  align="left">Date Applied</th><th  align="left">Action</th><th  align="left">Request Accepted</th><th  align="left">Offer Letter</th>
		</tr>
	</thead>
	
	<tbody>	

<%if signed_in?%>
				
<div class="right_column">
							
					
									
									<%i=0%>
									<%@companies.each do |f|%>
									<%i+=1%>
									
									<tr>
										<td  align="left"><%=i%>.</td>
									    <td  align="left">
								           <%= link_to f.student.name,"",:target=>'_self',:onClick=>"popup('resume/#{f.user_id}/edit')" %>
																																				
										</td>
										<td  align="left"><%=f.id%></td>
										<td  align="left"><%=f.created_at.strftime("%d-%m-%Y ") %></td>
										<td  align="left"><%=f.action_status.name%></td>
										<td  align="left"><%if f.action_status_id==2 ||f.action_status_id==3%><%=f.updated_at.strftime("%d-%m-%Y ") %><%end%></td>
										<td  align="left"><%if f.action_status_id==3%><%= link_to "offer letter","",:target=>'_self',:onClick=>"popup('/confirmation_letters/#{f.user_id}')" %><%end%></td>
										</tr>
									
									<%end%>
									
													
<%end%>
</tbody>
</table>
</div>