<style>
	td{font-size: 90%}
	.info td{
		padding-bottom: 7px;
	}
</style>
<div class="oneTwo">
	<div class="widget pickup" >
	<div class="header"><span ><span class="ico  gray random"></span> Pick  </span></div>
	<div class="content"  style="padding :0px 0px;">
		<form> 
				<div class="tableName" >	
					<table class="display data_table2" >
						<thead>
							<tr>
								<th align="left"><div>  </div></th>
								<th>Companies available</th>
							</tr>
						</thead>
							<tbody>			
								<%if signed_in?%>									
									<%@users.each do|f|%>
									<tr class="users">
									<td onclick="detail(<%=f.id%>); return false">
										<%if Photo.find_by_user_id(f.id).nil? %>
										 		<img src="/assets/profilePlus.jpg" height="40px" />
										<%else%>
												<img src="<%= Photo.find_by_user_id(f.id).image%>" height="40px"/>
										<%end%>
								    </td>	
									<td align="left" onclick="detail(<%=f.id%>); return false">
								    	<b><%= f.fullname %>&nbsp<%=  CompProfile.find_by_user_id(f.id).state.name%></b><br/>
								    	<%=  CompProfile.find_by_user_id(f.id).official_no%>/<%=  CompProfile.find_by_user_id(f.id).supervisor_contact%><br/><%=  CompProfile.find_by_user_id(f.id).email%>
									</td>
									</tr>
									<%end%>
								<%end%>
							</tbody>
					</table>
				</div>
		</form>
	</div>
</div>
</div>	
<div class="oneTwo">
<div class="widget">
	<div class="header"><span><span class="ico gray random"></span>Companies For Internships (max 5 companies)</span></div>
		<div class="content"  style="padding:0 0 0 0;">
				 <form> 
						<div class="tableName">					
     <table class="display data_table1" >
	<thead>
		<tr>
			<th class="th_wrapp">Company Name</th>
			<th class="th_wrapp">Date Applied</th>
			<th class="th_wrapp">Action</th>
			<th class="th_wrapp">Responds</th>
			<th class="th_wrapp">Offer Letter</th>
		</tr>
	</thead>
	<tbody>
			<%i=0%>
			<%@students.each do |f| %>
			<%i+=1%>
			<tr>
				<td align="left">
						<%=f.company.name%>				              
				</td>				
				<td class="th_wrapp"><%=f.created_at.strftime("%d/%m/%Y ") %></td>
				<td class="th_wrapp"><%=f.action_status.name%></td>
				<td class="th_wrapp"><%unless f.action_status_id==1%><%=f.updated_at.strftime("%d/%m/%Y ") %><%end%></td>
				<td class="th_wrapp">
				<%if f.action_status_id==2%>
					<%= link_to "Offer letter","",:target=>'_self',:onClick=>"popup('/offer_letters/#{f.company_id}/edit')" %>
				<%end%>
				<%if f.action_status_id==5%>
					<%i-=1%>
				<%end%>
				<%if f.action_status_id==3%><%= link_to "Accept Offer Letter","",:target=>'_self',:onClick=>"popup('/offer_letters/#{f.company_id}')" %><%end%></td>
				</tr>
			
			<%end%>
			
			<input type=text hidden="true" id="total" value="<%= i%>"/>
	</tbody>
</table>	
</div>
</form>
</div></div>
	<div style="padding:15px;">
	</div>
	<h5><span><img class="profile" src="/assets/zice/images/icon/color_18/info.png" height="15px" /></span> Something need to told to student </h5>
	<table class="info">
		<tr>
			<td valign="baseline">
				<img class="profile" src="/assets/zice/images/icon/color_18/directional_right.png" height="15px" />
				</td>
			<td>
					Students can only pick or apply a <b>maximum number of 5 companies</b> for internship. 
			</td>
		</tr>
		<tr>
			<td valign="baseline">
				<img class="profile" src="/assets/zice/images/icon/color_18/directional_right.png" height="15px" />
				</td>
			<td>
					<b>Click the company's</b> table to view more details.  
			</td>
		</tr>
		<tr>
			<td valign="baseline">
				<img class="profile" src="/assets/zice/images/icon/color_18/directional_right.png" height="15px" />
				</td>
			<td>
					After applying an internship with the company, the <b>company will review</b> your resume and check your credibility to match with the company's requirement.   
			</td>
		</tr>
		<tr>
			<td valign="baseline">
				<img class="profile" src="/assets/zice/images/icon/color_18/directional_right.png" height="15px" />
				</td>
			<td>
	If your application is <b>unsuccessful</b>, please make sure to <b>apply to another company</b> until you get an internship placement.
			</td>
		</tr>
		<tr>
			<td valign="baseline">
				<img class="profile" src="/assets/zice/images/icon/color_18/directional_right.png" height="15px" />
				</td>
			<td>
				You have the choice to <b>Decline or Check-in</b> to you favourite company.
			</td>
		</tr>
	</table>
</div>

	
<script type="text/javascript">
	var gap     = 10;
		var boxH    = $(window).height() - gap;     // bottom gap
		var boxW    = $(window).width() - gap * 2 - 460;  // left + right gap
		var iboxH    = $(window).height() - gap - 70;     // bottom gap
		var iboxW    = $(window).width() - gap * 2 - 500;  // left + right gap
		
	function detail(idd){
  	$.fallr('show', {
		    content     : "<iframe src='/iklan/"+idd+"' style='background: white' frameborder=0 width='"+iboxW+"' height='"+iboxH+"'></iframe>",
		    width   : boxW,
		    	height  : boxH,
		    icon        : 'chat',
		    closeOverlay: true,
		    buttons     : {
		        button1 : {text: 'Close'}    
		    }
		});
	}

		$(document).ready(function(){
			
			meh = $("#total").val();
			
			if ( meh < 5 ){
				
				$('.pickup').show(700);
			}
		});			
	
</script>	
<style>				
	table.display tbody td {
	padding: 7px 10px!important;
	}
	td :hover{cursor:hand;}
	#content {
	padding-top: 44px;}
	
	.tableName .dataTables_wrapper .dataTables_filter {
position: absolute;
float: none;
right: 3px;
top: -34px;
width: auto;}
</style>

					