<p id="notice"><%= notice %></p>

<p>
  <b>C skill:</b>
  <%= @section_c1.c_skill_id %>
</p>

<p>
  <b>Agree level:</b>
  <%= @section_c1.agree_level_id %>
</p>

<p>
  <b>User:</b>
  <%= @section_c1.user_id %>
</p>

<p>
  <b>Student:</b>
  <%= @section_c1.student_id %>
</p>


<%= link_to 'Edit', edit_section_c1_path(@section_c1) %> |
<%= link_to 'Back', section_c1s_path %>
