
																		<h4><b>
																		Custodian Profile</b>
																		</h4>
																			<table border=1>
																			<tr>
																			<td><b>Name:&nbsp;&nbsp;</b><%=@stud_custodian.name%></td>
																			</tr>
																			<tr>
																			<td><%=@stud_custodian.place%><br/>
																				<%=@stud_custodian.postcode%><br/>
																				<%=@stud_custodian.city%><br/>
																				<%=@stud_custodian.state.name%>
																			</td>
																			</tr>
																			<tr>
																			<td><b>Email:&nbsp;&nbsp;</b><%=@stud_custodian.email%></td>
																			</tr>
																			<tr>
																			<td><b>Contact No:&nbsp;&nbsp;</b><%=@stud_custodian.hp_no%></td>
																			</tr>
																			<tr>
																			<td><b>Relationships:&nbsp;&nbsp;</b><%=@stud_custodian.relationship%></td>
																			</tr>
																			</table>
																			