
<h4><b>
Education Profile</b>																	
</h4>																
<table border=1>
<tr>						
<td><b>Current Semester:</b>&nbsp;&nbsp;<%=@stud_edu.current_sem%></td>																		
</tr>
<tr>						
<td><b>Class:</b>&nbsp;&nbsp;<%=@stud_edu.student_class.class_name%></td>																		
</tr>
<tr>																		
<td><b>Program:</b>&nbsp;&nbsp;<%=@stud_edu.prog_name.name%></td>																		
</tr>
<tr>																		
<td><b>Program Code:&nbsp;&nbsp;</b><%=@stud_edu.prog_code.name%></td>																		
</tr>
<tr>																		
<td><b>Faculty:</b>&nbsp;&nbsp;<%=@stud_edu.faculty.name%></td>																		
</tr>
<tr>																		
<td><b>Cgpa:</b>&nbsp;&nbsp;<%=@stud_edu.cgpa%></td>																		
</tr>
</table
