<table border=1>
<tr>
<td><h4><b><%=@resume.name%></b></h4></td>
</tr>
<tr>
	<td>
	<%=@stud_add.place%><br/>
	<%=@stud_add.postcode%><br/>
	<%=@stud_add.city%><br/>
	<%=@stud_add.state.name%>
	</td>																		
</tr>
<tr>
<td><b>Email:</b>&nbsp;&nbsp;<%=@stud_profile.second_email%></td>
</tr>
<tr>
<td><b>Mobile No:</b>&nbsp;&nbsp;<%=@stud_profile.hp_no%></td>
</tr>
<tr>
<td><b>IC No:</b>&nbsp;&nbsp;<%=@stud_profile.nric%></td>
</tr>
<tr>
<td><b>Gender:</b>&nbsp;&nbsp;<%=@stud_profile.gender.name%></td>
</tr>

</table>
																			
												
																		
																		
																			