<h1>Resume</h1>
<table id="resume_content" >
	<tr><td id="resume_header"></td><td id="resume_header"></td></tr>
	            <tr>
						<td><%#kolum yang pertama%>
							<table id="left",border=1>
								<tr>
									<td>
										  
										<%=render 'users/resume/picture'%>				
														
									</td>
								</tr>
								<tr>
									<td>
										<%=render 'users/resume/profile'%>				
									</td>
								</tr>
								
								<tr>
									<td>
										 <%=render 'users/resume/education'%>			
														
									</td>
								</tr>
								<tr>
									<td>
										<%=render 'users/resume/internship'%>	
									</td>
								</tr>
								
								<tr>
									<td>				
										<%=render 'users/resume/custodian'%>					
									</td>
								</tr>
								
								
							</table>
						</td>

						<td><%#kolum yang kedua%>
							<table id="right">
								<tr>
									<td>				
										<%=render 'users/resume/location'%>						
									</td>
								</tr>
									
									<tr>
										<td>
											  
															<%=render 'users/resume/language'%>				
														
										 </td>
									</tr>
									<tr>
										<td>
											   
															<%=render 'users/resume/skill'%>							
														
										</td>
									</tr>
									<tr>
										 <td>
											  <%=render 'users/resume/workingexperience'%>	
																		
														
										</td>
									</tr>
									<tr>
										 <td>
											 
															<%=render 'users/resume/reference'%>			
													
										</td>
									</tr>		
									<tr>
										 <td>
											  
															<%=render 'users/resume/aboutme'%>			
														
										</td>
									</tr>
												
						
					        </table>
				        </td>
	            </tr>
<tr><td id="resume_header"></td><td id="resume_header"></td></tr>
</table>
	  