<p id="notice"><%= notice %></p>

<p>
  <b>S management:</b>
  <%= @section_c4.s_management_id %>
</p>

<p>
  <b>Agree level:</b>
  <%= @section_c4.agree_level_id %>
</p>

<p>
  <b>User:</b>
  <%= @section_c4.user_id %>
</p>

<p>
  <b>Student:</b>
  <%= @section_c4.student_id %>
</p>


<%= link_to 'Edit', edit_section_c4_path(@section_c4) %> |
<%= link_to 'Back', section_c4s_path %>
