<%= form_for(@s_management) do |f| %>
  <% if @s_management.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@s_management.errors.count, "error") %> prohibited this s_management from being saved:</h2>

      <ul>
      <% @s_management.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
