<%= form_for(@section_c5) do |f| %>
  <% if @section_c5.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section_c5.errors.count, "error") %> prohibited this section_c5 from being saved:</h2>

      <ul>
      <% @section_c5.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :planning_id %><br />
    <%= f.number_field :planning_id %>
  </div>
  <div class="field">
    <%= f.label :agree_level_id %><br />
    <%= f.number_field :agree_level_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.number_field :student_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
