<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @campu.name %>
</p>

<p>
  <b>Cawangan:</b>
  <%= @campu.cawangan %>
</p>

<p>
  <b>State:</b>
  <%= @campu.state_id %>
</p>


<%= link_to 'Edit', edit_campu_path(@campu) %> |
<%= link_to 'Back', campus_path %>
