<h1>Listing cawangans</h1>

<table>
  <tr>
    <th>Name</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cawangans.each do |cawangan| %>
  <tr>
    <td><%= cawangan.name %></td>
    <td><%= cawangan.state_id %></td>
    <td><%= link_to 'Show', cawangan %></td>
    <td><%= link_to 'Edit', edit_cawangan_path(cawangan) %></td>
    <td><%= link_to 'Destroy', cawangan, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cawangan', new_cawangan_path %>
