<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cawangan.name %>
</p>

<p>
  <b>State:</b>
  <%= @cawangan.state_id %>
</p>


<%= link_to 'Edit', edit_cawangan_path(@cawangan) %> |
<%= link_to 'Back', cawangans_path %>
