<center><h1>Confirmation Letter</h1></center>
<b><%=@user_company.company.name%></b>,<br/>
<%=@comp_profile.place%>,<br/>
<%=@comp_profile.postcode%>,<br/>
<%=@comp_profile.city%>,<br/>
<%=@comp_profile.state.name%>.<br/>
Email:<%=@comp_profile.email%><br/>
Contact No:<%=@comp_profile.official_no%><br/>
_________________________________________________________________<br/>
<%=@offer.name%><br/>
<%=@stud_add.place%><br/>
<%=@stud_add.postcode%>,<br/>
<%=@stud_add.city%>,<br/>
<%=@stud_add.state.name%>.<br/><br/>
Dear Sir/Madam,<br/><br/>
Thank You for accepting our offer.This is not a formal letter.
<br/><br/>Thank You,<br/>
Regards,
<br/>
Computer Generated Letter 
                              <center> 
    							  <form> 
										<input type="button" value="Close" onclick="window.close()">
							      </form>
							  </center>
                            