<p id="notice"><%= notice %></p>

<p>
  <b>Expected:</b>
  <%= @employability_skill.expected %>
</p>

<p>
  <b>Perception:</b>
  <%= @employability_skill.perception %>
</p>

<p>
  <b>User:</b>
  <%= @employability_skill.user_id %>
</p>


<%= link_to 'Edit', edit_employability_skill_path(@employability_skill) %> |
<%= link_to 'Back', employability_skills_path %>
