<p id="notice"><%= notice %></p>

<p>
  <b>Innovative outcome:</b>
  <%= @section_c8.innovative_outcome_id %>
</p>

<p>
  <b>Agree level:</b>
  <%= @section_c8.agree_level_id %>
</p>

<p>
  <b>User:</b>
  <%= @section_c8.user_id %>
</p>

<p>
  <b>Student:</b>
  <%= @section_c8.student_id %>
</p>


<%= link_to 'Edit', edit_section_c8_path(@section_c8) %> |
<%= link_to 'Back', section_c8s_path %>
