<style>

    table td{
        font-size: 90%;
    }
    table.display tbody tr:last-child td {
		border-bottom: 0px solid #d9d9d9;
	}
    .tableName .dataTables_wrapper .dataTables_filter {
		right: 7px;
		top: -47px;
	}

	table.display tbody td {padding: 3px 10px!important;}
	
	.oneThree {
		width: 30%;
		display: inline;
		float: right;
		margin-left: 2%;
	}
	
	.twoOne {
		width: 66%;
		float: left;
		margin-left: 2%;
	}
	
	.info td{
		padding: 5px;
	}
</style>
<div>
<div>

							<div class="widget" hidden="true">
								 <div class="header"><span><span class="ico gray window"></span>Student List</span></div>
									<div class="content" style="padding:0px 0px;">
					<form> 
						<div class="tableName">
					<table class="display " >
						<thead>
							<tr>
								<th ><div class="th_wrapp">Student</div></th>
								<th ><div class="th_wrapp">Company</div></th>
								<th  ><div class="th_wrapp">Supervisor</div></th>
								
							</tr>
						</thead>
						<tbody>

							<% @studcin = UserCompany.includes(:company,:student,:user=>[:role,{:stud_profiles=>:staff},:staffs]).find(:all,:conditions=>["total =?",2])%>
							<%@studcin.each do|f|%>

							<tr>

								<td align="left">
								<table>
								<tr>
									<td width="50px">
								<%if Photo.find_by_user_id(f.user_id).nil? %>
	<img class="profile" src="/assets/profileNope.jpg" width="50px" />
<%else%>
		<img class="profile" src="<%= Photo.find_by_user_id(f.user_id).image%>" width="50px"/>
<%end%>	
									</td><td>
								<%=f.student.user.fullname %></br><%= StudProfile.find(:all,:conditions=>["user_id=?",f.user_id]).first.matric_no%></br>( <%= StudProfile.find_by_user_id(f.student.user_id).hp_no %> )
									</td>
								</tr>
								</table>	
								</td>
								
								
								<td align="left">
								<table class="ext">
								<tr>
								<td width="50px">
								<%if Photo.find_by_user_id(UserCompany.find(:first,:conditions=>["company_id=? and  action_status_id=?",f.company_id,6]).company.user_id).nil? %>
	<img class="profile" src="/assets/profileNope.jpg" width="50px" />
<%else%>
		<img class="profile" src="<%= Photo.find_by_user_id(UserCompany.find(:first,:conditions=>["company_id=? and  action_status_id=?",f.company_id,6]).company.user_id).image%>" width="50px"/>
<%end%>	
								</td><td>
									<%=  UserCompany.find(:first,:conditions=>["company_id=? and  action_status_id=?",f.company_id,6]).company.name%>
									
 ( <%=  CompProfile.find_by_user_id(UserCompany.find(:first,:conditions=>["company_id=? and  action_status_id=?",f.company_id,6]).company.user_id).official_no %> )
									</td>
								</tr>
								</table>		 
								</td>
								
								<td align="left">
								<%if !StudProfile.find_by_user_id(f.user_id).staff_id.nil? %> 
								<%= StudProfile.find_by_user_id(f.user_id).staff.name %>
								<%end%>	 
								</td>
							</tr>
							<%end%>
						</tbody>
					</table>
			</div>	
			</form>
		</div>
	</div>
</div>	

<div class="twoOne">
	<div class="widget ">
	    <div class="header"><span ><span class="ico  gray random"></span> Log Book </span></div>
		<div class="content" style="padding:0px 0px 10px 0px; ">
	     <form> 
							<div class="tableName">		
		 <table class="display data_table2" >
			<thead>
				<tr>
					<th align="left" width="20%"></th>
					<th align="left">Title & Content</th>
					<th align="left">...</th>
				</tr>
			</thead>
			<tbody >
			<% @log_books.each do |log_book| %>
				
			  <tr>																
			    <td  align="left" width="10%">
			    	<%if Photo.find_by_user_id(log_book.user_id).nil? %>
					 		<img class="profile" src="/assets/profilePlus.jpg" width="50px" />
					<%else%>
							<img class="profile" src="<%= Photo.find_by_user_id(log_book.user_id).image%>" width="50px"/>
					<%end%>
			    </td>
			    <td align="left">
			    	<%=  Student.find_by_user_id(log_book.user_id).user.fullname  %>&nbsp&nbsp(&nbsp<%= StudProfile.find_by_user_id(log_book.user_id).matric_no %>&nbsp)</br>
			    	<b><%= log_book.title %></b>&nbsp-&nbsp<i><%= log_book.date %></i><br/>
			    	<hr/>
			    	<%= log_book.content %>
			    </td>
			    <td  align="left">
			    	<%if log_book.upload_content_type.nil? %>
			    		No File
			    	<% else %>	
			    		<a href="<%= log_book.upload %>">Download</a>
			    	<% end %>
			    </td>
			  </tr>
			<% end %>
			<br/>
			</tbody>
		</table>
		</div>
		</form>
	</div>
	</div>
	
</div>	
</div>
<div class="oneThree">
	<div class="widget">
			<div class="header"><span><span class="ico color info"></span>Information for Staff</span></div>
			<div class="content" >
				<table class="info">
					<tr>
						<td valign="baseline">
							<img class="profile" src="/assets/zice/images/icon/color_18/directional_right.png" height="20px" />
							</td>
						<td>
				"Smart Internship System" is a UiTM Online Internship Placement System provided by Student-Industry Linkages Centre (SILC)
			for UiTM's final year students to find internship placement.
						</td>
					</tr>
					<tr>
						<td valign="baseline">
							<img class="profile" src="/assets/zice/images/icon/color_18/directional_right.png" height="20px" />
							</td>
						<td>
				For any enquiry, call 603-55442058/2053 or email to silc@salam.uitm.edu.my
						</td>
					</tr>
					<tr>
						<td valign="baseline">
							<img class="profile" src="/assets/zice/images/icon/color_18/directional_right.png" height="20px" />
							</td>
						<td>
				 You can shortlist the view by searching student full name, student ids, and others. You can <b>download</b> the attachment they made(upload) 
						</td>
					</tr>
					
				</table>	
			</div>	
		</div>
	</div>
</div>


<script>
	$(".tab1").hide();
	$(".tab2").hide();
	
	$(".tab1").show(500);
	$(".tab1").click(function (){
			$(".tab2").hide(100);
			$(".tab2").show(500);
	});
	$("#DataTables_Table_0_filter").append(<% current_user.id %>);
	
</script>




