                    <div class="clear"></div>

					<div class="widget">

	<div class="header"><span><span class="ico gray window"></span> Education Details </span>

						</div>
						 <div class="content">

	<div class="boxtitle"><span class="ico gray audio_knob"></span>
	Enter Details
</div>
<%javascript 'dynamic_kampus'%>

<%= form_for(@stud_edu) do |f| %>
  <% if @stud_edu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stud_edu.errors.count, "error") %> prohibited this stud_edu from being saved:</h2>

      <ul>
      <% @stud_edu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="section" >
    <%= f.label :cgpa %><br />
      <%= f.text_field :cgpa %>
  </div>
  <div class="section" >
    <%= f.label :current_sem %><br />
    <%= f.text_field :current_sem %>
  </div>

   <div class="section" >
    <label for="person_faculty_id">Faculty :</label><br />
   <%= f.collection_select :faculty_id, Faculty.find(:all), :id, :name, :prompt => "Select a Faculty" %>


  </div>

 <div class="section" >
   <label for="person_country_id">Kampus:</label><br />
     <%= f.collection_select :kampu_id, Kampu.find(:all), :id, :name, :prompt => "Select a Kampus" %>

  </div>

  <div class="section" >
    <%= f.label :prog_name_id %><br />
   <%=collection_select(:stud_edu,:prog_name_id,ProgName.all,:id,:name,:prompt=>"Please Select")%>
  </div>






  <div class="section last">

   <div class="actions">
    <%= f.submit "Update", :class => 'uibutton loading', :title => 'Saving' %>
	<%= link_to 'Back to profile', user_path(current_user), :class => 'uibutton loading', :title => 'Loading' %>
  </div>
<% end %>

</div>

</div>




</div>
</div>
<div class="clear"></div>



