<h1>Listing stud_edus</h1>

<table>
  <tr>
    <th>User</th>
    <th>Cgpa</th>
    <th>Current sem</th>
	<th>Class</th>
    <th>Prog name</th>
    <th>Prog code</th>
    <th>Faculty</th>
    <th>Kampus</th>
    <th></th>
    <th></th>
  </tr>

<% @stud_edus.each do |stud_edu| %>
  <tr>
    <td><%= stud_edu.user_id %></td>
    <td><%= stud_edu.cgpa %></td>
    <td><%= stud_edu.current_sem %></td>
	  <td><%= stud_edu.student_class_id %></td>
    <td><%= stud_edu.prog_name_id %></td>
    <td><%= stud_edu.prog_code_id %></td>
    <td><%= stud_edu.faculty_id %></td>
	<td><%= stud_edu.kampu_id %></td>
    <td><%= link_to 'Show', stud_edu %></td>
    <td><%= link_to 'Edit', edit_stud_edu_path(stud_edu) %></td>
    <td><%= link_to 'Destroy', stud_edu, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stud edu', new_stud_edu_path %>
