<p id="notice"><%= notice %></p>

<p>
  <b>Stud name:</b>
  <%= @eval_industry_sv.stud_name %>
</p>

<p>
  <b>Stud:</b>
  <%= @eval_industry_sv.stud_id %>
</p>

<p>
  <b>Sv name:</b>
  <%= @eval_industry_sv.sv_name %>
</p>

<p>
  <b>P1:</b>
  <%= @eval_industry_sv.p1 %>
</p>


<%= link_to 'Edit', edit_eval_industry_sv_path(@eval_industry_sv) %> |
<%= link_to 'Back', eval_industry_svs_path %>
