<%= form_for(@prog_code) do |f| %>
  <% if @prog_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prog_code.errors.count, "error") %> prohibited this prog_code from being saved:</h2>

      <ul>
      <% @prog_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
