<h1>Listing stud_skills</h1>

<table>
  <tr>
    <th>Skill</th>
    <th>Proficiency</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stud_skills.each do |stud_skill| %>
  <tr>
    <td><%= stud_skill.skill %></td>
    <td><%= stud_skill.skill_pro.name %></td>
    <td><%= link_to 'Show', stud_skill %></td>
    <td><%= link_to 'Edit', edit_stud_skill_path(stud_skill) %></td>
    <td><%= link_to 'Destroy', stud_skill, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stud skill', new_stud_skill_path %>
