<h1>Listing stud_languages</h1>

<table>
  <tr>
    <th>Language</th>
    <th>Spoken</th>
    <th>Written</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stud_languages.each do |stud_language| %>
  <tr>
    <td><%= stud_language.language %></td>
    <td><%= stud_language.spoken.name %></td>
    <td><%= stud_language.written.name %></td>
    <td><%= stud_language.user_id %></td>
    <td><%= link_to 'Show', stud_language %></td>
    <td><%= link_to 'Edit', edit_stud_language_path(stud_language) %></td>
    <td><%= link_to 'Destroy', stud_language, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stud language', new_stud_language_path %>
