                    <div class="clear"></div>

					<div class="widget">
	
	<div class="header"><span><span class="ico gray window"></span> Custodian Details </span>
                            
						</div>
						 <div class="content">
						 
	<div class="boxtitle"><span class="ico gray audio_knob"></span>
	Custodian Information
</div>



<%= form_for(@stud_custodian) do |f| %>
  <% if @stud_custodian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stud_custodian.errors.count, "error") %> prohibited this stud_custodian from being saved:</h2>

      <ul>
      <% @stud_custodian.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="section" >
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
   <div class="section" >
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="section" >
    <%= f.label :hp_no %><br />
    <%= f.text_field :hp_no %>
  </div>
  
   <div class="section" >
    <%= f.label :hp_no_2 %><br />
    <%= f.text_field :hp_no_2 %>
  </div>
  
  <div class="section" >
    <%= f.label :relationship %><br />
    <%= f.text_field :relationship %>
  </div>

 <div class="boxtitle"><span class="ico gray audio_knob"></span>
	Cutodian Address
</div>

  <div class="section" >
    <%= f.label :Address %><br />
    <%= f.text_area :place %>
  </div>
  <div class="section" >
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode %>
  </div>
   <div class="section" >
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="section" >
    <%= f.label :state_id %><br />
    <%= collection_select(:stud_custodian,:state_id,State.all,:id,:name,:prompt=>"Please Select") %>
  </div>

   <div class="section last">	

   <div class="actions">
    <%= f.submit "Update", :class => 'uibutton loading', :title => 'Saving' %>
	<%= link_to 'Back to profile', user_path(current_user), :class => 'uibutton loading', :title => 'Loading' %>
  </div>
<% end %>

</div>

</div>
</div>
</div>
<div class="clear"></div>