<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stud_custodian.name %>
</p>

<p>
  <b>Place:</b>
  <%= @stud_custodian.place %>
</p>

<p>
  <b>Postcode:</b>
  <%= @stud_custodian.postcode %>
</p>

<p>
  <b>State:</b>
  <%= @stud_custodian.state %>
</p>

<p>
  <b>City:</b>
  <%= @stud_custodian.city %>
</p>

<p>
  <b>Email:</b>
  <%= @stud_custodian.email %>
</p>

<p>
  <b>Hp no:</b>
  <%= @stud_custodian.hp_no %>
</p>

<p>
  <b>Relationship:</b>
  <%= @stud_custodian.relationship %>
</p>

<p>
  <b>User:</b>
  <%= @stud_custodian.user_id %>
</p>


<%= link_to 'Edit', edit_stud_custodian_path(@stud_custodian) %> |
<%= link_to 'Back', stud_custodians_path %>
