<style>
	td{font-size: 90%;}
	table td, table td * {
	    vertical-align: top;
	}
	.twoOne {
		width: 64%;
		float: right;
		margin-left: 1%;
	}
</style>
<div class="boxx">
	<h4>Academic & Industry Supervisors</h4>
	<div class="oneThree">
	<div class="widget">
		<div class="header"><span ><span class="ico  color info"></span>Supervisor</span></div>
		<div class="content"  >
			<table border="0">
				<tr>
					<% @stud_profiles.each do |stud_profile| %>
						<td>
							<%if Photo.find_by_user_id(stud_profile.staff.user_id).nil? %>
								<img class="profile" src="/assets/profileNope.jpg" height="70px" />
							<%else%>
							   <img class="profile" src="<%= Photo.find_by_user_id(stud_profile.staff.user_id).image%>" height="70px"/>
							<%end%>
						</td>
						<td style="padding-left:10px;">
							<b>Academic</b><br/>
							<b style="color:blue;"><%= stud_profile.staff.name %></b><br/>
							<%= stud_profile.staff.office_no %><br/>
							Room <%= stud_profile.staff.room_no %><br/>
							<%= stud_profile.staff.email %><br/>
						</td>
					<% end %>
				</tr>	
				<tr>
					<% @stud_profiles.each do |stud_profile| %>
					<td><%if Photo.find_by_user_id(Company.find_by_id(UserCompany.find(:first,:conditions=>["total=? and  action_status_id=? and user_id=?",2,6,stud_profile.user_id ,]).company_id).user_id).nil? %>
								<img class="profile" src="/assets/profileNope.jpg" height="70px" />
							<%else%>
							   <img class="profile" src="<%= Photo.find_by_user_id(Company.find_by_id(UserCompany.find(:first,:conditions=>["total=? and  action_status_id=? and user_id=?",2,6,stud_profile.user_id ,]).company_id).user_id).image%>" height="70px"/>
							<%end%>
					</td>
					<td style="padding-left:10px;">	
				<b>Company</b><br/>
				<b style="color:blue;"><%= Company.find_by_id(UserCompany.find(:first,:conditions=>["total=? and  action_status_id=? and user_id=?",2,6,stud_profile.user_id ,]).company_id).name %>
				<%= CompProfile.find_by_user_id(Company.find_by_id(UserCompany.find(:first,:conditions=>["total=? and  action_status_id=? and user_id=?",2,6,stud_profile.user_id ,]).company_id).user_id).state.name %></b><br/>
				<%= CompProfile.find_by_user_id(Company.find_by_id(UserCompany.find(:first,:conditions=>["total=? and  action_status_id=? and user_id=?",2,6,stud_profile.user_id ,]).company_id).user_id).supervisor %><br/>
				<%= CompProfile.find_by_user_id(Company.find_by_id(UserCompany.find(:first,:conditions=>["total=? and  action_status_id=? and user_id=?",2,6,stud_profile.user_id ,]).company_id).user_id).supervisor_contact %><br/>
				<%= CompProfile.find_by_user_id(Company.find_by_id(UserCompany.find(:first,:conditions=>["total=? and  action_status_id=? and user_id=?",2,6,stud_profile.user_id ,]).company_id).user_id).email %><br/>
				<% end %>
					</td>
				</tr>	
			</table>
		</div>
	</div>
	<br/>
	<div class="widget">
		<div class="header"><span ><span class="ico  gray random"></span>Date Visit</span></div>
		<div class="content" style="padding:0px 0px;">
			<form> 
				<div class="tableName">
					<table class="display data_table1" >
						<thead>
							<tr>
								<th><div class="th_wrapp">Date Visit</div></th>
							</tr>
						</thead>
						<tbody>
			<% @date_visits.each do |date_visit| %>
						<%if UserCompany.find(:first,:conditions=>["total=? and  action_status_id=? and user_id=?",2,6,StudProfile.find_by_id(date_visit.stud_profile_id).user_id]).user_id == current_user.id %>
							<tr>
								<td>
								<%= date_visit.date.strftime("%d/%m/%Y") %>
					</td>
					
					</tr>
					<% end %>
			<% end %>
				</tbody>
				</table>
				</div>
			</form>
		</div>	
	</div>
	<div class="clear"></div>
	
	</div> <!-- end of oneTwo -->
	
	<div class="widget twoOne"> 
		<div class="header"><span ><span class="ico  gray calendar"></span>Calendar</span></div>
		<div class="content"  >
			<div  id='calendar2'></div>
		</div>	
	</div>
	<div class="clear"></div>
	<br/>
</div>	

<style>
	.tableName .dataTables_wrapper .dataTables_filter {
		right: 5px;
		top: -35px;
	}
	
	#calendar2 {
		margin: 0 auto;
	}
</style>
<script>
	$(document).ready(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		$('#calendar2').fullCalendar({
			editable: false,
			events: [
			<% @date_visits.each do |date_visit| %>
				<%if UserCompany.find(:first,:conditions=>["total=? and  action_status_id=? and user_id=?",2,6,StudProfile.find_by_id(date_visit.stud_profile_id).user_id,]).user_id==current_user.id %>
				{
					title: 'Supervisor <%= Staff.find_by_user_id(date_visit.staff_id).name %> (<%= Staff.find_by_user_id(date_visit.staff_id).hp_no %>) will visit ',
					start: new Date(<%= date_visit.date.strftime("%Y,  %m-1, %d") %>)
				},
				<% end %>
			<% end %>
				
			]
		});
		
	});
</script>

                    