<h1>Listing kampus</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cawangan</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kampus.each do |kampu| %>
  <tr>
    <td><%= kampu.name %></td>
    <td><%= kampu.cawangan %></td>
    <td><%= kampu.state_id %></td>
    <td><%= link_to 'Show', kampu %></td>
    <td><%= link_to 'Edit', edit_kampu_path(kampu) %></td>
    <td><%= link_to 'Destroy', kampu, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Kampu', new_kampu_path %>
