<style>
    table{
        margin: 10px;padding: 10px
        border-collapse: collapse;
        border-spacing: 0;
        padding: 10px;
        margin: 0px;
    }
    table td{
        padding: 10px;
        font-size: 90%;
        border-bottom-style:solid;
        border-bottom-width: 1px;
    }

    table th{
      font-weight:bold;
      border-bottom-style:solid;
      border-bottom-width: 3px;
      padding-bottom: 10px;
      border-bottom-color: #7F6DDD;
      color: #7F6DDD;
    }
</style>
<h4>Listing Campus</h4><%= link_to 'New Campus', new_kampu_path ,:class => 'uibutton loading', :title => 'Add new' %>

<table bgcolor="white">
  <tr>
    <th>Name</th>

    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kampus.each do |kampu| %>
  <tr>
    <td><%= kampu.name %></td>

    <td>
     <%if kampu.state_id.nil? == true%>
     	none
     <%else%>
     	<%= State.find_by_id(kampu.state_id).name %>
     <%end%>
     </td>
    <td><%= link_to 'Edit', edit_kampu_path(kampu) %></td>
    <td><a href="/kampus/erase/<%= kampu.id %>"><img src="/images/icon/color_18/cross.png" style="float:left;"/></a></td>
  </tr>
<% end %>
</table>

<br />


