<%= form_for(@date_visit) do |f| %>
  <% if @date_visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@date_visit.errors.count, "error") %> prohibited this date_visit from being saved:</h2>

      <ul>
      <% @date_visit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :student_id,"Student Id"%><br />
     <%= f.text_field :student_id%>
  </div>
  <div class="actions">
  <br>
    <%= f.submit %>
  </div>
<% end %>
