                    <div class="clear"></div>

					<div class="widget">
	
	<div class="header"><span><span class="ico gray window"></span> Preferred Internship Location </span>
                            
						</div>
						 <div class="content">


<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="section">
    <%= f.label :state_id %><br />
   <%=collection_select(:location,:state_id,State.all,:id,:name,:prompt=>"Please Select")%>
  </div>

  
 <div class="section last">	

   <div class="actions">
    <%= f.submit "Add", :class => 'uibutton loading', :title => 'Adding' %>
  </div>
<% end %>

</div>

</div>
</div>
</div>
<div class="clear"></div>


