<li class="limenu " ><a href="#"><span class="ico color  group " ></span><b>Staff</b></a>
					<ul>
						<!--<li class="limenu " ><%= link_to "Lecturer ", pensyarah_path %></li> -->
						<!--<li class="limenu " ><%= link_to "Lecturer List", staffs_path %></li>-->
						<li class="limenu " ><%= link_to "Register New Staff ", newstaff_path %></li>
						<li class="limenu " > <%= link_to "List of Active Supervisor", asv_list_path%> </li>
						<li class="limenu " ><%= link_to "Assign Student with Supervisor", search_student_path%> </li>
					</ul>
	</li>
	<li class="limenu " ><a href="#"><span class="ico color  info" ></span><b>Other Information</b></a>
					<ul>
						<li class="limenu " > <%= link_to "Company List", complist_path%> </li>
						<!--<li class="limenu " > <%= link_to "Active Student", asv_list_path%> </li>-->
					</ul>
	</li>
	<li class="limenu " ><a href="#"><span class="ico color  file" ></span><b>Report</b></a>
					<ul>
						<li class="limenu " > <%= link_to "Survey report", report_path%> </li>
						<li class="limenu " ><%= link_to "Evaluation by Industry Supervisor", report_eval_industry_path %></li>
						<li class="limenu " ><%= link_to "Evaluation by Academic Supervisor", report_eval_academic_path %></li>
						<!--<li class="limenu " > <%= link_to "Course report", course_report_path%> </li>-->
					</ul>
	</li>
	<li class="limenu" ><a href="#">Help</a></li>
  <li class="limenu" ><%= link_to "FAQ", faq_path %></li>	
	
	
	
<style>
	
</style>