<li class="limenu" ><%= link_to "Homepage", current_user%> </li>
<li class="limenu " ><%= link_to "New Coordinator", newcoordinator_path %></li>


<li class="limenu " ><a href="#"><span class="ico color  info2" ></span><b>Report</b></a>
					<ul>
						<li class="limenu " ><%= link_to "Report", report_path %></li>
						<li class="limenu " ><%= link_to "Evaluation by Industry", report_eval_industry_path %></li>
						<li class="limenu " ><%= link_to "Evaluation by Academic", report_eval_academic_path %></li>
					</ul>
<li class="limenu " ><a href="#"><span class="ico color  group" ></span><b>Other Information</b></a>
					<ul>
						<li class="limenu " > <%= link_to "View Company", complist_path%> </li>
						<li class="limenu " ><%= link_to "View Coordinator", kp_list_path %></li>
						<li class="limenu " ><%= link_to "View Student", studentlist_path %></li>
						<!--<li class="limenu " > <%= link_to "Active Student", asv_list_path%> </li>-->
					</ul>
	</li>

	<li class="limenu " ><a href="#"><span class="ico color  file" ></span><b>Manage Backend</b></a>
					<ul>
						<li class="limenu " ><%= link_to "Manage Session (Intership)", sesis_path %></li>
						<li class="limenu " ><%= link_to "Manage Kampus", kampus_path %></li>
						<li class="limenu " ><%= link_to "Manage Industry Category", industries_path %></li>
						<li class="limenu " ><%= link_to "Manage Industry Sektor", sectors_path %></li>
							<li class="limenu " ><%= link_to "Manage Program", prog_names_path %></li>
							<li class="limenu " ><%= link_to "Manage Faculty", faculties_path %></li>

					</ul>
	</li>
	<!--<li class="limenu " ><a href="#"><span class="ico color  security" ></span><b>Secret Menu</b></a>
					<ul>
						<li class="limenu " ><%= link_to "Manage Lecturer", lecturer_lists_path %></li>
						<li class="limenu " ><%= link_to "Manage Student", student_lists_path %></li>
					</ul>
	</li>-->
<li class="limenu" ><a href="#">Help</a></li>
<li class="limenu" ><%= link_to "FAQ", faq_path %></li>

