<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
		<title><%# title %></title>
		
<%= csrf_meta_tag %>

<%= render 'layouts/stylesheets' %>
 
</head>
	<% if signed_in? %>
		<%= render 'layouts/header' %>
		
		<%else%>
		    
		    <link rel="stylesheet" href="/assets/extra/slider/lush.animations.css" />        
		    <link rel="stylesheet" href="/assets/extra/slider/lush.min.css" />
		        <link href="/assets/extra/slider/stylo.css" rel="stylesheet" />
		    <link href="/assets/extra/slider/flexslider.css" rel="stylesheet">
		<div class="row">
        <div class="span12">
          
          <!-- Lush Slider -->
          
          <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                  <img src="/assets/slider/sky.png" class="ignore"/>   
      
                  <img src="/assets/slider/clouds.png"
                        data-slide-in="at 2400 from r use easeOutCirc during 9000" 
                        data-slide-out="at 1500 to l use easeInCirc during 600" 
                        style="top: 0; left: 0; " />   
      
                  <img src="/assets/slider/clouds.png"
                        data-slide-in="at 4000 from r use easeOutQuart during 9000" 
                        data-slide-out="at 1000 to left use easeInCirc during 600" 
                        style="top: 10%; left:15%; " />   
      
                  <img src="/assets/slider/tree-1.png"
                        data-slide-in="at 1500 from bottom use easeOutQuart during 600" 
                        data-slide-out="at 11000 to back use easeInBack during 600" 
                        style="bottom: 0%; left: 0%; " />   
      
                  <img src="/assets/slider/tree-2.png"
                        data-slide-in="at 1600 from bottom use easeOutQuart during 600" 
                        data-slide-out="at 11100 to back use easeInBack during 600" 
                        style="top: 20%; left: 22%; " />   
      
                  <img src="/assets/slider/tree-4.png"
                        data-slide-in="at 1700 from bottom use easeOutQuart during 600" 
                        data-slide-out="at 11200 to back use easeInBack during 600" 
                        style="top: 20%; left: 55%; " />   
      
                  <img src="/assets/slider/tree-3.png"
                        data-slide-in="at 1800 from bottom use easeOutQuart during 600" 
                        data-slide-out="at 11300 to back use easeInBack during 600" 
                        style="top: 20%; left: 75%; " />   
      
                  <img src="/assets/slider/pasto.png"
                        data-slide-in="at 200 from bottom use easeOutCirc during 300" 
                        data-slide-out="at 12600 to bottom use easeInBack during 100" 
                        style="bottom: 0; left: 0; " />   
                  
                  <img src="/assets/slider/sis.png"
                      data-slide-in="at 2000 from front use easeOutBack  during 500"  
                      data-slide-out="at 9500 to front use easeInBack during 600"
                      style="bottom: 20%; right: 10%;"/>
      

              </li> 
              <li>
                  <img src="/assets/slider/logos.png" class="ignore"/>

                  <h3 class="t-white"
                      data-slide-in="at 500 from back use easeOutBack  during 500"  
                      data-slide-out="at 3500 to lbr use easeInBack during 600"
                      style="top: 10%; left: 25%;">Are you prepared</h3>
      

                  <h3 class="t-black-b"
                      data-slide-in="at 1700 from front-rotate use easeOutQuart during 800" 
                      data-slide-out="at 3500 to right use easeInBack during 600" 
                      style="top: 40%; left: 30%; ">Easy</h3>
      

                  <h3 class="t-black-b"
                      data-slide-in="at 1800 from front-rotate use easeOutQuart during 800" 
                      data-slide-out="at 3000 to left use easeInBack during 600" 
                      style="top: 65%; left: 30%; ">Fast Response</h3>   
      
              </li>          
            </ul>
          </div>  <!-- /Lush FlexSlider -->
        </div>
      </div>
      
      <style>
	      	.menumenu a{ 
	      		color:inherit;text-decoration: none;
	      		white-space:nowrap; 
				overflow:hidden;
				text-overflow:ellipsis; 
	      	}
	
				
			.menumenu {
				-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
				-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
				box-shadow:inset 0px 1px 0px 0px #ffffff;
				background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
				background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
				background-color:#ededed;
				text-indent:0;
				display:inline-block;
				color:#9751b2;
				font-family:arial;
				font-size:100%;
				font-weight:bold;
				height:30px;
				line-height:30px;
				width:23%;
				margin-right: 0px;
				text-decoration:none;
				text-align:center;
				text-shadow:1px 1px 0px #ffffff;
			}
			.menumenu:hover {
				background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
				background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
				background-color:#dfdfdf;
			}.menumenu:active {
				position:relative;
				top:1px;
			}
			/* This button was generated using CSSButtonGenerator.com */
				
				#content {
			
				padding-top: 0px;
				}
			
			
			.menus{
			}
				
			.first{
				background: #ffd500;
				float: left;
				width: 50px;
				height: 30px;
				margin-left: 10px;
			}
			.second{
				background: #00c4ff;
				float: left;
				width: 50px;
				height: 30px;
			}
			.third{
				background: #ff8255;
				float: left;
				width: 50px;
				height: 30px;
			}
			.fourth{
				background: #1aed2c;
				float: left;
				width: 50px;
				height: 30px;
			}
			
			.firstb{
				background: #ffd500;
				float: left;
				width: 25%;
				height: 3px;
			}
			.secondb{
				background: #0092bf;
				float: left;
				width: 25%;
				height: 3px;
			}
			.thirdb{
				background: #ec6534;
				float: left;
				width: 25%;
				height: 3px;
			}
			.fourthb{
				background: #722d8e;
				float: left;
				width: 25%;
				height: 3px;
			}
			.buts{padding: 3px;}
      </style>
      
      <div class="clear"></div>
      <div class="menus">
      		<a href="/"><div class="first" >
	      		<img class="buts" src="/assets/zice/images/icon/color_18/home.png" height="18px">
      		</div></a>
      		<div class="second" >
	      		<img class="buts" src="/assets/zice/images/icon/color_18/mail.png" height="18px">
      		</div><div class="third" >
	      		<img class="buts" src="/assets/zice/images/icon/color_18/help.png" height="18px">
	      		
      		</div><div class="fourth" >
	      		<img class="buts" src="/assets/zice/images/icon/color_18/security.png" height="18px">
      		</div>
	      <div id="content">
	      	<div class="menumenu " style="font-size:100%;"><%= link_to "New Company Registration"%> </div>
			<div class="menumenu " ><%= link_to "Student Login", studentnew_path %> </div>
			<div class="menumenu" ><a href="/signin?click=staff">Staff Login<a></div>
			<div class="menumenu" ><%= link_to "Company Login", signin_path %></div>	
	      </div>	
      </div>	
      	<br/>
		<script src="/assets/mylib/slider/bootstrap.min.js"></script>
	    <script src="/assets/mylib/slider/jquery.lush.js"></script>
	    <script src="/assets/mylib/slider/jquery.flexslider-min.js"></script>
	<%end%>
<div class="logo"></div>
<div class="images">
	<table >
	<tr>
	<td><img src="/assets/facebook.jpg" width="25px"/>&nbsp
	<img src="/assets/twitter.png" width="25px"/></td>
	<td>
	<img src="/assets/contact.png" width="15px"/>&nbsp&nbsp 03 234555<br/>
	<img src="/assets/email.png" width="15px"/>&nbsp&nbsp salam@uitm.edu.my</td>
	</tr>
	</table>
</div> 
	<div class="awesome" hidden="true">
		<div class="firstb" ></div><div class="secondb" ></div><div class="thirdb" ></div><div class="fourthb" ></div>
	</div>

<!--
<div id="shadowhead">
</div>
-->
<body>

						
<div id="content" >

<%= yield %>
<%#debug(params)%>
</div>


<%= render 'layouts/footer' %>
</body>

</html>

<style>
	.oneTwo{margin:5px;}
	.awesome{
		position:fixed;
		bottom: 0px;
		height: 3px;
		width: 100%;
	}
	.images{
		position:fixed;
		bottom: 5px;
		left: 0px;
		width:207px;
		height: 40px;
		padding-top:5px;
		padding-bottom:5px;
		padding-left: 2px;
		background: #f4f4f4;
		-moz-border-radius: 0 12px 0 12px;
		-webkit-border-radius:0 12px 0 12px;
		border-radius: 0 12px 12px 0;
		font-size: 90%;
		color: #787878;
	}
	.images td{
		padding-top: 0px;
	}
</style>
<script>
	$(window).load(function(){
                $('#main-slider').lush({
                  flexslider : {
                    animation : 'slide'
                    , easing : 'easeInOutExpo'
                    , slideshow: false
                    , useCSS: false
                    , pauseOnHover : true
                  }
                });
    });
	$(document).ready(function(){
		<% flash.each do |key, value| %>		
			$.jGrowl('<%= content_tag(:div, value, :class => "flash #{key}") %>');
		<% end %>
	});
</script>